In [1]:
import pandas as pd
import numpy as np

In [2]:
flights=pd.read_csv("E:\\DATA SCIENCE\\projects\\Excelr P-1\\my viz\\new_time_data.csv")

C:\Users\HP\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
flights=flights.drop(['Unnamed: 0','DATE','SCHEDULED_DEPARTURE','DEPARTURE_TIME','WHEELS_OFF','WHEELS_ON','SCHEDULED_ARRIVAL','ARRIVAL_TIME','DIVERTED','CANCELLED'],axis=1)

In [5]:
flights.shape

(5819079, 23)

In [6]:
flights['Scheduled_Departure']=pd.to_datetime(flights['Scheduled_Departure'],errors='coerce')
flights['Departure_Time']=pd.to_datetime(flights['Departure_Time'],errors='coerce')
flights['Wheels_Off']=pd.to_datetime(flights['Wheels_Off'],errors='coerce')
flights['Wheels_On']=pd.to_datetime(flights['Wheels_On'],errors ='coerce')
flights['Scheduled_Arrival']=pd.to_datetime(flights['Scheduled_Arrival'],errors='coerce')
flights['Arrival_Time']=pd.to_datetime(flights['Arrival_Time'],errors='coerce')

In [7]:
flights['Scheduled_dep_hour']=flights['Scheduled_Departure'].dt.hour
flights['Scheduled_dep_min']=flights['Scheduled_Departure'].dt.minute
flights['Departure_time_hour']=flights['Departure_Time'].dt.hour
flights['Departure_time_min']=flights['Departure_Time'].dt.minute
flights['Wheels_off_hour']=flights['Wheels_Off'].dt.hour
flights['Wheels_off_min']=flights['Wheels_Off'].dt.minute
flights['Wheels_on_hour']=flights['Wheels_On'].dt.hour
flights['Wheels_on_min']=flights['Wheels_On'].dt.minute
flights['Scheduled_arr_hour']=flights['Scheduled_Arrival'].dt.hour
flights['Scheduled_arr_min']=flights['Scheduled_Arrival'].dt.minute
flights['Arrival_time_hour']=flights['Arrival_Time'].dt.hour
flights['Arrival_time_min']=flights['Arrival_Time'].dt.minute

In [8]:
varaibles_to_remove=['FLIGHT_NUMBER','TAIL_NUMBER','Scheduled_Departure', 'Departure_Time','TAXI_OUT',
       'Wheels_Off', 'ELAPSED_TIME', 'AIR_TIME','Wheels_On', 'TAXI_IN', 'Scheduled_Arrival', 'Arrival_Time',
       'Departure_time_hour', 'Departure_time_min', 'Wheels_off_hour',
       'Wheels_off_min', 'Wheels_on_hour', 'Wheels_on_min',
      'Arrival_time_hour','Arrival_time_min']

In [9]:
flights.drop(varaibles_to_remove,axis=1,inplace=True)

In [10]:
flights.shape

(5819079, 15)

In [11]:
sampledata=flights.sample(n=500000)

In [12]:
sampledata.isnull().sum()

YEAR                      0
MONTH                     0
DAY                       0
DAY_OF_WEEK               0
AIRLINE                   0
ORIGIN_AIRPORT            0
DESTINATION_AIRPORT       0
DEPARTURE_DELAY        7353
SCHEDULED_TIME            3
DISTANCE                  0
ARRIVAL_DELAY          8959
Scheduled_dep_hour        0
Scheduled_dep_min         0
Scheduled_arr_hour        0
Scheduled_arr_min         0
dtype: int64

In [13]:
sampledata=sampledata.dropna()

In [14]:
sampledata['DATE']=pd.to_datetime(sampledata[['YEAR','MONTH','DAY']])

In [15]:
sampledata['DAY_OF_WEEK']=sampledata['DATE'].dt.weekday_name

In [16]:
sampledata.AIRLINE.nunique()

14

In [17]:
len(sampledata.ORIGIN_AIRPORT.unique())

769

In [18]:
len(sampledata.DESTINATION_AIRPORT.unique())

764

In [19]:
sampledata.DAY_OF_WEEK.nunique()

7

In [20]:
sampledata.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,ARRIVAL_DELAY,Scheduled_dep_hour,Scheduled_dep_min,Scheduled_arr_hour,Scheduled_arr_min,DATE
837736,2015,2,25,Wednesday,EV,PIT,ORD,12.0,102.0,413,49.0,6,0,6,42,2015-02-25
2038576,2015,5,10,Sunday,MQ,LGA,CHO,61.0,90.0,305,42.0,12,40,14,10,2015-05-10
209930,2015,1,14,Wednesday,US,IND,CLT,-9.0,95.0,427,-14.0,15,30,17,5,2015-01-14
5705712,2015,12,24,Thursday,DL,ATL,DTW,198.0,117.0,594,177.0,12,5,14,2,2015-12-24
621398,2015,2,11,Wednesday,DL,DAY,ATL,-2.0,119.0,432,11.0,6,50,8,49,2015-02-11

In [21]:
sampledata.drop(['YEAR','DATE'],axis=1,inplace=True)

In [22]:
airport = pd.read_csv("E:\\DATA SCIENCE\\projects\\Excelr P-1\\Kaggle\\airports.csv")

In [23]:
sampledata.loc[~sampledata.ORIGIN_AIRPORT.isin(airport.IATA_CODE.values),'ORIGIN_AIRPORT']='OTHER'
sampledata.loc[~sampledata.DESTINATION_AIRPORT.isin(airport.IATA_CODE.values),'DESTINATION_AIRPORT']='OTHER'

In [24]:
sampledata.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,ARRIVAL_DELAY,Scheduled_dep_hour,Scheduled_dep_min,Scheduled_arr_hour,Scheduled_arr_min
837736,2,25,Wednesday,EV,PIT,ORD,12.0,102.0,413,49.0,6,0,6,42
2038576,5,10,Sunday,MQ,LGA,CHO,61.0,90.0,305,42.0,12,40,14,10
209930,1,14,Wednesday,US,IND,CLT,-9.0,95.0,427,-14.0,15,30,17,5
5705712,12,24,Thursday,DL,ATL,DTW,198.0,117.0,594,177.0,12,5,14,2
621398,2,11,Wednesday,DL,DAY,ATL,-2.0,119.0,432,11.0,6,50,8,49

In [25]:
sampledata.ORIGIN_AIRPORT.nunique()

323

In [26]:
dummies1=pd.get_dummies(sampledata.DAY_OF_WEEK)
dummies1.head(3)

         Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
837736        0       0         0       0         0        0          1
2038576       0       0         0       1         0        0          0
209930        0       0         0       0         0        0          1

In [27]:
dummies2=pd.get_dummies(sampledata.AIRLINE)
dummies2.head(3)

         AA  AS  B6  DL  EV  F9  HA  MQ  NK  OO  UA  US  VX  WN
837736    0   0   0   0   1   0   0   0   0   0   0   0   0   0
2038576   0   0   0   0   0   0   0   1   0   0   0   0   0   0
209930    0   0   0   0   0   0   0   0   0   0   0   1   0   0

In [28]:
dummies3=pd.get_dummies(sampledata.ORIGIN_AIRPORT)
dummies3.head(3)

,ABE,ABI,ABQ,ABR,ABY,ACK,ACT,ACV,ACY,ADK,...,TYS,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM
837736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2038576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
dummies4=pd.get_dummies(sampledata.DESTINATION_AIRPORT)
dummies4.head(3)

,ABE,ABI,ABQ,ABR,ABY,ACK,ACT,ACV,ACY,ADK,...,TYS,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM
837736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2038576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
flights1=pd.concat([sampledata,dummies1],axis='columns')
flights1.shape

(491041, 21)

In [31]:
flights2=pd.concat([flights1,dummies2],axis='columns')
flights2.shape

(491041, 35)

In [32]:
flights3=pd.concat([flights2,dummies3],axis='columns')
flights3.shape

(491041, 358)

In [33]:
flights4=pd.concat([flights3,dummies4],axis='columns')
flights4.shape

(491041, 681)

In [34]:
flights5=flights4

In [35]:
flights5=flights5.drop(['DAY_OF_WEEK','AIRLINE','ORIGIN_AIRPORT','DESTINATION_AIRPORT'],axis=1)

In [36]:
flights5=flights5.dropna()

## Model1

In [37]:
X1=flights5.drop(['DEPARTURE_DELAY'],axis='columns')
Y1=flights5.DEPARTURE_DELAY

In [38]:
from sklearn.model_selection import train_test_split
X1_train,X1_test,y1_train,y1_test=train_test_split(X1,Y1,test_size=0.2,random_state=10)

In [40]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor(n_estimators=100,max_depth=3,learning_rate=1.0)
gbr.fit(X1_train,y1_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=1.0, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [41]:
y1_pred = gbr.predict(X1_test)

In [42]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y1_test, y1_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y1_test, y1_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y1_test, y1_pred)))

Mean Absolute Error: 5.91108771336616
Mean Squared Error: 93.96076763385878
Root Mean Squared Error: 9.693336248880401

In [43]:
gbr.score(X1_test, y1_test)

0.9295440661140535

In [44]:
gbr.score(X1_train, y1_train)

0.93622983955625

In [45]:
def predict_delay6(MONTH, DAY, DAY_OF_WEEK, AIRLINE, ORIGIN_AIRPORT,
       DESTINATION_AIRPORT, SCHEDULED_TIME, DISTANCE,
       ARRIVAL_DELAY, Scheduled_dep_hour, Scheduled_dep_min,
       Scheduled_arr_hour, Scheduled_arr_min):    
    DAY_OF_WEEK_index = np.where(X1.columns==DAY_OF_WEEK)[0][0]
    AIRLINE_index = np.where(X1.columns==AIRLINE)[0][0]
    ORIGIN_AIRPORT_index = np.where(X1.columns==ORIGIN_AIRPORT)[0][0]
    DESTINATION_AIRPORT_index = np.where(X1.columns==DESTINATION_AIRPORT)[0][0]

    x6 = np.zeros(len(X1.columns))
    x6[0] = MONTH
    x6[1] = DAY
    x6[2] = SCHEDULED_TIME
    x6[3] = DISTANCE
    x6[4] = ARRIVAL_DELAY
    x6[5] = Scheduled_dep_hour
    x6[6] = Scheduled_dep_min
    x6[7] = Scheduled_arr_hour
    x6[8] = Scheduled_arr_min
    if  DAY_OF_WEEK_index >= 0:
        x6[ DAY_OF_WEEK_index] = 1
        
    if  AIRLINE_index >= 0:
        x6[ AIRLINE_index] = 1
        
    if  ORIGIN_AIRPORT_index >= 0:
        x6[ ORIGIN_AIRPORT_index] = 1
        
    if  DESTINATION_AIRPORT_index >= 0:
        x6[ DESTINATION_AIRPORT_index] = 1

    return gbr.predict([x6])[0]

In [46]:
predict_delay6(2,25,'Wednesday','EV','PIT','ORD',102.0,413,49.0,6,0,6,42)

31.435188725565208

In [47]:
predict_delay6(5,10,'Sunday','MQ','LGA','CHO',90.0,305,42.0,12,40,14,10)

33.84677260912244

In [48]:
predict_delay6(1,14,'Wednesday','US','IND','CLT',95.0,427,-14.0,15,30,17,5)

-3.8137069232733474

In [49]:
import pickle
with open ('gbr.pickle','wb') as f:
    pickle.dump(gbr,f)

In [50]:
import json
columns={
    'data_columns':[col.lower() for col in X1.columns]
}
with open ('columns.json','w') as f :
    f.write(json.dumps(columns))